<div class="jumbotron">
  <h1 class="display-4">
    <%= @user.name %>
  </h1>
  <br/>

  <hr class="my-4">

  <p class="lead">
    <strong>Email:</strong>
    <%= @user.email %>
  </p>  
  <br/>

  <% if can? :edit, @user %>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-secondary" %> |
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %> | 
  <% end %>
  <%= link_to 'Back', users_path, class:"btn btn-outline-info" %>
</div>
<br/>